.noqta-color-input {
	border: none;
	outline-width: 2px;
	outline-color: transparent;
	outline-offset: 2px;
	background: transparent;
	border-radius: 9999px;
	width: 100%;
	cursor: pointer;
	aspect-ratio: 1 / 1;
}
