.noqta-color-input {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.noqta-color-input-dropdown {
	position: absolute;
	display: flex;
	top: 100%;
	margin: 0.5rem 0;
	justify-content: center;
	align-items: center;
}
