#tools-menu {
	width: 100%;
	z-index: 1000;
	padding: 0.2rem;
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(
			to right,
			var(--noqta-theme-border-secondary, transparent),
			var(--noqta-theme-border-primary, transparent),
			var(--noqta-theme-border-primary, transparent),
			var(--noqta-theme-border-primary, transparent),
			var(--noqta-theme-border-secondary, transparent)
		)
		1;
}

#tools-menu .tools-wrapper {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#tools-menu .tools {
	display: flex;
	align-items: center;
	justify-content: center;
}

#tools-menu .noqta-button {
	border: none;
}

@media screen and (max-width: 760px) {
	#tools-menu {
		justify-content: flex-start;
		overflow-x: scroll;
		overflow-y: hidden;
		scrollbar-width: none;
	}

	#tools-menu::-webkit-scrollbar {
		display: none;
	}
}
