@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.ProseMirror {
	font-family: "Atkinson Hyperlegible", "Helvetica Neue", Helvetica, Arial, sans-serif;
	white-space: pre-wrap;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: thin;
	scrollbar-color: #444 transparent;
	padding: 1.25rem;
	border-radius: 0.5rem;
	outline: none;
	height: 100%;
}

.ProseMirror > * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

#editor-container * {
	box-sizing: border-box;
	outline: none;
}

#editor-container {
	height: 100%;
	padding: 20px;
}

#editor-container input[type="color"] {
	appearance: none;
	-webkit-appearance: none;
	border: none;
	padding: 0;
}

#editor-container input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

#editor-container input[type="color"]::-webkit-color-swatch {
	border: none;
}
