@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Cairo:wght@200..1000&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mozilla+Headline:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.pdf-export {
	font-family: "Inter";
	background: white !important;
	color: black !important;
	white-space: pre-wrap !important;
}

/* Empty Paragraphs */
.pdf-export p:empty,
.pdf-export p > br:only-child {
	height: 1em;
	display: block;
	content: " ";
}

.pdf-export [style*="color"] {
	color: inherit;
}

.pdf-export h1,
.pdf-export h2,
.pdf-export h3,
.pdf-export h4,
.pdf-export h5,
.pdf-export h6 {
	font-weight: 600;
	line-height: 1.25;
}

.pdf-export h1 {
	font-size: 2em;
}

.pdf-export h2 {
	font-size: 1.75em;
}

.pdf-export h3 {
	font-size: 1.5em;
}

.pdf-export h4 {
	font-size: 1.25em;
}

.pdf-export h5 {
	font-size: 1.1em;
}

.pdf-export h6 {
	font-size: 1em;
}

.pdf-export h1[data-symbol]::before,
.pdf-export h2[data-symbol]::before,
.pdf-export h3[data-symbol]::before,
.pdf-export h4[data-symbol]::before,
.pdf-export h5[data-symbol]::before,
.pdf-export h6[data-symbol]::before {
	opacity: 0.5;
}

.pdf-export h1[data-symbol]::before {
	content: "# ";
}
.pdf-export h2[data-symbol]::before {
	content: "## ";
}
.pdf-export h3[data-symbol]::before {
	content: "### ";
}
.pdf-export h4[data-symbol]::before {
	content: "#### ";
}
.pdf-export h5[data-symbol]::before {
	content: "##### ";
}
.pdf-export h6[data-symbol]::before {
	content: "###### ";
}

/* .pdf-export p {
    margin: 1em 0;
} */

/* Blockquotes */
.pdf-export blockquote {
	border-left: 4px solid #ccc;
	color: #666;
	padding-left: 1em;
	margin: 1em 0;
}

/* Lists */
ul[data-type="taskList"] > li {
	list-style-type: none;
	display: flex;
}

ul[data-type="taskList"] > li > div {
	margin: 0 0.5em;
}

ul[data-type="taskList"] > li > label {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pdf-export ul:not([data-type="taskList"]),
.pdf-export ol {
	margin: 1em 0;
	padding-left: 2em;
}

.pdf-export ul {
	list-style-type: disc;
}

.pdf-export ol {
	list-style-type: decimal;
}

.pdf-export li + li {
	margin-top: 0.25em;
}

/* Code */
.pdf-export code {
	background-color: #24292e;
	color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 4px;
	font-family: Consolas, Monaco, monospace;
	font-size: 0.95em;
}

.pdf-export pre {
	background-color: #24292e;
	border-radius: 6px;
	padding: 16px;
	overflow-x: auto;
	font-size: 0.95em;
	line-height: 1.45;
}

/* Links */
.pdf-export a {
	color: #0366d6;
	text-decoration: none;
	caret-color: #f0f0f0;
}
.pdf-export a:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* Horizontal Rule */
.pdf-export hr {
	margin: 1.5em 0;
}

/* Marks */
mark {
	box-decoration-break: clone;
	padding: 0 0.2rem;
}

/* Marks Symbols Wrappers */
em[data-symbol="_"]::before,
em[data-symbol="_"]::after,
i[data-symbol="_"]::before,
i[data-symbol="_"]::after {
	content: "_";
	opacity: 0.5;
}

em[data-symbol="*"]::before,
em[data-symbol="*"]::after,
i[data-symbol="*"]::before,
i[data-symbol="*"]::after {
	content: "*";
	opacity: 0.5;
}

strong[data-symbol="__"]::before,
strong[data-symbol="__"]::after,
b[data-symbol="__"]::before,
b[data-symbol="__"]::after {
	content: "__";
	opacity: 0.5;
}

strong[data-symbol="**"]::before,
strong[data-symbol="**"]::after,
b[data-symbol="**"]::before,
b[data-symbol="**"]::after {
	content: "**";
	opacity: 0.5;
}

strike[data-symbol="~~"]::before,
strike[data-symbol="~~"]::after,
s[data-symbol="~~"]::before,
s[data-symbol="~~"]::after,
del[data-symbol="~~"]::before,
del[data-symbol="~~"]::after {
	content: "~~";
	opacity: 0.5;
}
